@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*DEĞİŞKENLER*/
:root{
    --green:#16ff00;
    --white:#f5f5f5;
    --gray:#cdcccc;
    --black:#121212;
}

/* Genel Tanımlama ve Stil Sıfırlama */
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:var(--white);
}
h1,
h2,
h3,
h4{
    font-family: "Inter";
    color:var(--white);
}

p{
    font-family: "Poppins";
    color: var(--gray);
}

button{
    font-family: "Poppins";
    border: none;
    cursor:pointer;
    padding: 7px 20px;
    font-size:16px;
    border-radius: 12px;
    transition:all .3s;

}
button:hover{
    scale:0.95;
    box-shadow: 2px 2px 20px var(--gray);
    transition:all .4s;
}
section{
    padding:30px; 
}
.destiny{
    font-family: 'Bebas Neue';
}
.destiny span{
    color:var(--green);
}
/* Ana Stiller */
body{
    background: var(--black);
    overflow-x: hidden;
    font-family: "Poppins";
}


/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* position:fixed;
    top:0; */
    position:sticky;
    top:0;
    background: var(--black);
    z-index: 999;
}
header .nav-btn{
    display: none;
}
header nav{
    display: flex;
    gap:20px;
}

header nav .special-link{
    color:var(--green);
}

/* FOOTER */
footer{
     margin-top: 100px;/*silincek*/
    padding:20px;


}
footer .footer-links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
}
footer .footer-links .link-area{
    display: flex;
    flex-direction: column;
    gap:20px;

}
footer form{
    display: flex;
    gap:20px;
}
footer form input{
    padding: 5px 10px;
    border-radius: 10px;
    max-height: 50px;
    border:none;
}
footer form button{
    background-color: var(--green);
    /* white-space:nowrap ile display flexde yaptığımıza benzer şekilde 
    kelimelerin alt alta ya da yan yana gelmesini sağlar.nowrap alt satıra geçmesini engeller.*/
    white-space: nowrap;
    border:none;

}
footer .bottom{
    text-align: center;
    margin-top:50px;
    border-top: 1px solid var(--gray);
    padding: 20px;
}

/* HERO ALANI */
#hero{
    height:50vh;
    background:url(images/back.jpg);
    background-size: cover;
    background-attachment: fixed; /*arka planda görüntüsü sayfanın geri kalanından bağımsız olarak sabitlenir*/
    display: flex;
    align-items: center;
}
#hero-inner{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    padding: 20px;
    margin-left:20px;
    text-align: justify;
    /* cam efekti */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#hero-inner h1{
    color:var(--green);

}
#hero-inner p{
    text-shadow: 2px 2px 10px black;
    color:#f5f5f5;

}
#hero-inner button:nth-child(1){
    background-color: var(--green);
}
    
/* PENCERELER ALANI */
#window-section{
    display: flex;
    justify-content: space-between;
    gap:100px;
}
.window-section-info{
    max-width: 600px;
    display: grid;
    gap:30px;
}
.windows{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
}
.windows .window{
    min-width: 200px;
    height:400px;
    background: url(images/sec2.jpg);
    background-attachment:fixed;
    background-size:cover;
    border-radius: 40px 40px 0 0 ;
    
}
.windows .window:nth-child(2){
    border-radius:40px;
}
.window-section-info button{
    max-height: 60px;
}
/* KARTLAR */
#cards-section{

}
.card-section-info{
    max-width:600px;
    display: grid;
    gap:40px;
}
.cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}
.card{
    border:1px solid gray;
    display: grid;
    gap:20px;
    padding: 20px;
    border-radius:10px;
    margin-top: 50px;
}
.card video{
    width:200px;
}
/* LİSTE ALANI */
#list-sec{
    margin:50px 0;
}
#list-sec .list-sec-info{
    display: flex;
    justify-content: space-between;
    gap:40px;

}
#list-sec .list-sec-info h2,
.list-sec-info p{
    max-width: 400px;

}   

#list-sec ul{

}
#list-sec ul li{
    display: flex;
    justify-content: space-between;
    margin-top:4px;
    border-bottom: 1px solid gray;
    padding: 40px;
    align-items: center;
}

#list-sec ul li span{
    color:gray;
    font-weight: 400;
    font-size: 15px;
    margin-bottom:5px;
}
#list-sec ul li img{
    width:50px;
}

/*! PROJELER SAYFASI  */
.welcome{
    max-width: 1300px;
    padding: 100px;
    font-size:55px;
    background-image: linear-gradient(155deg,
    #00DBDE 15%,
    #9e0699 42.5%,
    #00fbff 100%);
    /* arka planı yazıya aktarmak için kullandık */
    -webkit-background-clip:text;
    /* yazıya aktardığımız arka planı göstermek için kullandık */
    -webkit-text-fill-color: transparent;
}
#what-section{
    display: flex;
    justify-content: space-between;
    gap:40px;
}
#what-section .info{
    max-width: 400px;
}

#what-section .info h1{
    margin-bottom: 50px;
}
#what-section .cards{
    display: flex;
    gap:100px;
    

}
#what-section .what-card {
    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    text-align: center;
    background-color: #323443;
    border-radius: 10px;
    padding: 30px 20px;
    position: relative;
}
#what-section .what-card img{
    position: absolute;
    width: 50px;
    top:-50px;
    
}
#what-section .what-card h3{
    text-align: center;
    padding: 20px;
}
#what-section .what-card p{
    text-align: justify;
    max-width: 400px;
}
/* PROJELER ALANI */
#projects-section{
    display: flex;
    flex-direction: column;
    gap:40px;
}
#projects-section .project{
    display: flex;
    gap:30px;
}
.project-img{
    display: flex;
    align-items: end;
    background:#323443;
    padding: 40px 60px 0;
    display: flex;
    position: relative;
}
.project-img:hover{
    background-image: linear-gradient(135deg, #FF3CAC 0%, #70006c 24%, #2B86C5 64%, #21d89a 100%);

}
.project-img img{
    cursor: pointer;
}
.project-img .arrow-icon{
    position: absolute;
    background-color: #494a57;
    right:5px;
    top:5px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;

}
.project-info{
    display: flex;
    flex-direction:column;
    gap:30px;
    max-width: 700px;
}
/*! TAKIM SAYFASI */
#count-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}

.count-sec-left{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.count-sec-left .counter{
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.counter .boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    margin-top:20px;
}
.counter .boxes .box{
    background-color: rgb(0,0,21);
    border-radius: 7px;
    padding: 10px;
    text-align: center;
}
.count-sec-left .buttons{
    display: flex;
    gap:20px;

}
.count-sec-left .buttons button{
    background-color:transparent;
    color:var(--white);
    border:1px solid var(--green);
}
.count-sec-left .buttons button:hover{
    background-color: var(--green);
    box-shadow: none;
    color: var(--black);
}
.count-sec-right img{
    border-radius: 10px;
    max-width: 500px;
}
/* RESİMLER ALANI */
#images-section{    
    display: flex;
    gap:20px;
    justify-content: space-between;
}
.img-wrapper{
    position: relative;
}
.img-wrapper img{
    width: 400px;
    border-radius: 20px;
}
.img-wrapper h1{
    position: absolute;
    bottom:0;
    width: 100%;/*Bunu vermemizin nedeni h1 etiketinin içindeki yazı kadar yer kaplamasıydı ve bundan dolayı resmi ortalamıyordu.*/
    text-align: center;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
/* BAĞIŞ ALANI */
#donate-section{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.donate-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.donate-section-content{
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: center;
    gap:40px;
}
.donate-people{
    display: flex;
    gap:10px;
    background: rgb(49, 0, 49);
    color:white;
    padding: 10px;
    border-radius: 45px;
}
.donate-people img{
    width: 50px;
    border-radius: 50%;
}












































/*! RESPONSİVE YAPILAR */
/* 1500px aşağısında ki cihazlar için geçerlidir */
@media (max-width:1500px){
    #images-section{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 40px;
    }
    #images-section img{
        width:400px;
    }
}
/* 1200px aşağısında ki cihazlar için geçerlidir*/
@media (max-width:1200px){
    /* PENCERELER ALANI */
    #window-section{
        flex-direction: column;
        align-items: center;
    }
    .windows .window{
        height: 300px;
    }
    /* WHAT-SECTİON */
    #what-section{
        flex-direction: column;
        gap: 50px;
    }
    #what-section .info{
        display: flex;
        max-width: unset;
        gap:40px
    }
    #what-section .info h1{
        white-space: nowrap;
    }
    /* PROJELER ALANI */
    #projects-section .project{
        flex-direction: column-reverse; /*1200 px altında resim alanıyla info alanının yerini değiştirmek için flex-direction:column-reverse 
        ya da ilk önce gelmesini istediğimiz alanı order:-1 ile öne çıkarabiliriz*/
    }
    /* .project-info{
        order:-1
    } */
    #projects-section .project-img{
        justify-content: center;
        padding: 20px 100px 0;
    }
    
}

/* 1000px aşağısında ki cihazlar için geçerlidir*/
@media (max-width:1000px){
    footer .footer-links{
        grid-template-columns:repeat(2,1fr);
        row-gap:50px;
        padding: 40px;
        column-gap: 100px;
    }
     footer .footer-links .link-area:nth-child(even){/* even:tek odd:çift olanları sağa yaslamak için kullanırız.*/
        /* text-align:end; */
    } 
    footer form{
        flex-direction: column;
        /* align-items: end; */
    }
    footer form input{
        max-width:200px;
        height: 40px;
    }
    footer form button{
        max-width: 100px;

    }
    /* KARTLAR ALANI */
    .cards{
        grid-template-columns: 1fr;
        place-items:center; /*align-items:center ve justify-content:center özelliklerini aynı değere atayarak kullanır.*/
    }
    .card{
        max-width: 400px;
        
    }
    /* PROJELER SAYFASI */
    .welcome{
        padding: 100px 20px;
        font-size: 40px;
    }
    /* TAKIM ALANI */
    #count-section{
        flex-direction: column-reverse;
    }
    .count-sec-right img{
        max-width: 300px;
    }
    .count-sec-left .buttons{
        font-size: 15px;
        justify-content: space-around;
    }
    /* FOTOĞRAFLAR ALANI */
    #images-section img{
        width:300px;
    }
    /* BAĞIŞ ALANI */
    .donate-section-content{
        grid-template-columns: repeat(3,200px);
    }
}
/* 800px aşağısında ki cihazlar için geçerlidir*/
@media (max-width:800px){
    header nav{
        display: none;
    }
    header .nav-btn{
        display: block;
    }
    .toggle{ /*nav alanını 800px ve aşağısında tanıttık*/
        display: flex;
        flex-direction: column;
        position: fixed;
        right:5px;
        top:70px;
        background: #585858;
        padding:20px;
        border-radius: 15px;
    }
    /* HERO ALANI */
    #hero{
        align-items: center;
        justify-content: center;
    }
    #hero-inner{
        margin:40px;
        text-align: center;
    }
    /* LİSTE ALANI */
    #list-sec{
        padding:30px;
    }
    #list-sec .list-sec-info{
        flex-direction: column;
        /* align-items: center; kullanılabilir ortalamak için */
    
    }
    #list-sec .list-sec-info h2,.list-sec-info p{
        /* bu stile hiç değer ataması yapılmamış gibi davranır */
        max-width: unset;
    }
    /* WHAT-SECTİON */
    #what-section .info{
        flex-direction: column;
        gap:0;
    }
    #what-section .cards{
        gap:40px;
    }
    /* BAĞIŞ ALANI */
    .donate-section-content{
        grid-template-columns: repeat(2,200px);
    }

}

/*  500px aşağısında ki cihazlar için geçerlidir */
@media (max-width:500px){
    footer{
        padding: 5px;
    }
    footer .footer-links{
        padding:5px;   
        column-gap: 50px;
    }
    /* WHAT_SECTİON CARD */
    #what-section .cards{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        margin-top: 15px;
    }
    #what-section .what-card {
        padding: 10px 5px;
    }
    #what-section .what-card h3{
        padding: 0;
    }
    /* PROJELER ALANI */
    .project-img{
        padding: 0 30px !important;
    }
    .project-img img{
        width: 100%;
    }
    .project-info{
        margin-top: 70px;
    }



}
/* 400px aşağısında ki cihazlar için geçerlidir SE*/
@media (max-width:400px){
    footer{
        font-size: 13px;
    }
    footer .footer-links{
        column-gap: 25px;
    }
    /* HERO ALANI */
    #hero-inner{
        max-width: 200px;
        font-size: 12px;
        padding: 10px;
    }
    #hero-inner h1{
        font-size: 15px;
    }
    #hero-inner p{
        font-size: 10px;
    }
    #hero-inner button{
        padding: 5px 15px;
        font-size: 10px;
        
    }
    /* TAKIM SAYFASI */
    .count-sec-right img{
        max-width: 200px;
    }
    .count-sec-left .counter{
        padding: 10px;
        font-size: 10px;
    }
    .count-sec-left h1{
        font-size: 15px;
    }
    .count-sec-left .buttons{
        white-space: nowrap;
    }
}
/*1000px den büyük ise  */
@media (min-width:1000px){
    section{
        padding: 100px;
    }
    /* LİSTE ALANI */
    
}
/* 1550 px den büyük ise */
@media (min-width:1550px){
    /* LİSTE ALANI */
    #list-sec .list-sec-info{
    justify-content: space-around;
    margin-bottom: 25px;
}
}
    